# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/*.*
.idea/libraries/*.*
.idea/libraries/
.idea/*/*.*

.DS_Store
*.iml
target/*/*.*
target/*
target/maven-archiver/